.row
	display: flex
	flex-wrap: wrap

.header
	background-color: #ed702d
	padding: 15px 0
	&-row
		align-items: center
		justify-content: space-between

.logo
	&-link
		display: flex
		align-items: center
	&-text
		margin-left: 12px
		font-size: 28px
		color: #ffffff

/** .menu
 &-item
 color: #1b1b1b
 font-weight: 500
 margin-left: 25px
 padding: 9px 20px
 border-radius: 25px **/

/** .active
 background-color: #1b1b1b
 color: #ffffff
 **/
