.header
  .appBar
    background-color: #ed702d
  .toolbar
    display: flex
    justify-content: space-between
  .logo
    display: flex
  img
    margin-right: 15px
  .title
    font-family: 'Roboto', sans-serif
    font-size: 28px

.menu
  display: flex
  justify-content: space-between
  .menu-item
    color: #1B1B1B
    padding: 10px 20px
    &.active
      color: #fff
      border-radius: 30px
      background-color: #1B1B1B
      padding: 10px 20px
      box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.27)
